<div class="whole-about-all">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">遊戯王デュエルリンクスMakeDecker</h1>
    <p class="lead">MakeDeckerへようこそ。このページではこのサイトの使い方について説明します。</p>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->
<div class="container ">
  <div class="whole-about">
    <h1 class="about-h1">このサイトについて</h1>
    <p class="explain-how-to-use">このサイトはゲームアプリ、遊戯王デュエルリンクスのデッキ投稿サイトです。</p>
    <p class="explain-how-to-use">自分のオリジナルデッキを投稿することはもちろん、他のデュエリストのデッキも見ることができます。</p>
    <p class="explain-how-to-use">無料の会員登録後、右上のメニューからデッキを投稿しよう！</p>
  </div>
</div><!-- /.container -->
</div>