<div class='container how-to-up'>
  <div class="row">
    <h1 class="col-12 how-to-up-title">画像のアップロード方法</h1>
      <div class="how-to-upload">
        <p class="col-12 how-to-up-title2">EXデッキ付きのデッキ画像の撮り方！</p>
      <div class="row">
        <p class="col-4">①</p>
        <p class="col-4">②</p>
        <p class="col-4">③</p>
      </div>
      <div class="row how-to-image">
          <%= image_tag('up1.PNG', class:"up1 col-4") %>
          <%= image_tag('up2.PNG', class:"up1 col-4") %>
          <%= image_tag('up3.PNG', class:"up1 col-4") %>
      </div>
      <div class="col-12">
        <p>画像を保存したらデッキ投稿画面で保存したファイルをアップロードしよう！</p>
      </div>
      </div>
  </div>
</div>

    