// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-new{
  font-size: 1.6em;
}

.category-title{
  margin-bottom: 20px;
}

.add-theme{
  font-size: 1.6em;
}

.theme-add-form{
  
}