// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-new{
  font-size: 1.6em;
}

.comment-new-little{
  margin: 0 auto;
}

.comment-form{
  margin-bottom: 20px;
}

.readme-list{
  margin-left: 40px;
}
