// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*indexのCSS*/
.deck_index{
  margin: 0 auto;
  font-size: 1.6em;
}

.make_decker{
  max-width: 960px;
  height: auto;
}

#comment{
  width: 960px;
  background-color: aquamarine;
}

.post_deck{
  text-align: center;
}

.deck_image{
  text-align: center;
  width: 270px;
}

.pick-up{
  font-size: 36px;
}

.deck_table{
  margin-bottom: 10px;
  margin-top: 30px;
}

.deck_main{
  margin: 0 auto;
}

.table2{
  background-color: aqua;
  padding: 4px;
}

.table3{
  padding: 4px;
}

.deck-name{
  font-family: 'Bitter', serif;
  border-bottom: 1px solid #cccccc;
  font-size: 30px;

}

/*showのCSS*/



/*タブのCSS*/

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.deck_index{

}

.pick_deck{
   font-size: 30px;
}

.work-section .tabs-nav li {
  border-right: 1px solid rgb(218,218,218);
  border-left: 1px solid rgb(218,218,218);
  list-style: none;
  padding: 0px 10px;
  background-color: beige;
  float: left;
  -webkit-box-shadow: 1px 0 rgb(255,255,255);
          box-shadow: 1px 0 rgb(255,255,255);
}

.work-section .tabs-nav a{
  display: block;
}

.work-section .tabs-nav a:hover,
.woek-section .tabs-nav a.active {
  background-color: rgb(51,51,51);
  color: rgb(255,255,255);
}































