// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.deck_index{
  margin: 0 auto;
}

#comment{
  width: 300px
}

.post_deck{
  text-align: center;
}

.deck_image{
  text-align: left;
  width: 100px;
}

/*タブのCSS*/

.work-section .tabs-nav li {
  border-right: 1px solid rgb(218,218,218);
  background-color: beige;
  list-style: none;
  float: left;
  position: relative;
  -webkit-box-shadow: 1px 0 rgb(255,255,255);
          box-shadow: 1px 0 rgb(255,255,255);
}

.work-section .tabs-nav a{
  display: block;
  padding: 0 1.36em;
  position: relative;
}

.work-section .tabs-nav a:hover,
.woek-section .tabs-nav a.active {
  background-color: rgb(51,51,51);
  color: rgb(255,255,255);
}

.work-section .tabs-nav a.active:after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 37px;
  height: 19px;
  margin-left: -18px;
}





























