// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.top-view{
  background-color: ivory;
  min-height: 100vh;
  min-width: 100vw;
}

/*indexのCSS*/


.deck_index{
  margin: 0 auto;
  font-size: 1.6em;
}



.deck-search-whole{
  max-width: 720px;
  margin: 0 auto;
}

#comment{
  background-color: aquamarine;
}

#work.work-section{
  max-width: 720px;
  margin: 0 auto;
}

.post_deck{
  text-align: center;
}

.deck_image{
  text-align: center;
  width: 270px;
}

.pick-up{
  font-size: 36px;
}

.deck_table{
  margin-bottom: 10px;
  margin-top: 30px;
}

.deck_main{
  margin: 0 auto;
  margin-bottom: 30px;
}

.table2{
  background-color: aqua;
  padding: 4px;
}

.table3{
  padding: 4px;
}

.deck-name{
  font-family: 'Bitter', serif;
  border-bottom: 1px solid #cccccc;
  font-size: 30px;
  clear: both;
  max-width: 770px;
  margin: 0 auto;
}

.search-for-theme{
  float: left;
  margin-bottom: 20px;
}

.theme-search{
  margin-top: 10px;
}

.deck_theme{
 float: left;
  margin-right: 10px;
}

.link_theme{
  float: left;
}

.search{
  margin-left: 30px;
  float: left;
}

.name-search{
  margin-top: 10px;
}

.select-search{
  margin-left: 10px;
  padding: 0 10px;
}

/*showのCSS*/


.deck-show{
  font-size: 2.0em;
}

.blue-name{
  margin:0 auto;
}

.deck_detail_main{
  width: 100%;
}

.deck-detail-table{
  margin: 0 auto;
}

.deck-detail-image{
  width: 100px;
}

.deck-show-box{
  margin: 0 auto;
}

.deck-name-show{
  margin-right: 20px;
  font-size: 40px;
  font-family: 'Bitter', serif;
}

.like-good{
  margin-bottom: 10px;
}
.like-show{
  float: left;
  margin-right: 20px;
}

#good-show{
  float: left;
  list-style: none;
}

.btn-lg{
  width: 150px;
}

.comment-h{
  background-color: deeppink;
  color: white;
  margin-top: 20px;
  padding: 10px 0;
}


.i{
  width: 80%;
  float: left;
}

.commenr-wrapper{
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}



/*タブのCSS*/

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.deck_index{

}

.pick_deck{
   font-size: 30px;
}

.work-section .tabs-nav li {
  border-right: 1px solid rgb(218,218,218);
  border-left: 1px solid rgb(218,218,218);
  list-style: none;
  padding: 0px 10px;
  background-color: beige;
  float: left;
  -webkit-box-shadow: 1px 0 rgb(255,255,255);
          box-shadow: 1px 0 rgb(255,255,255);
}

.work-section .tabs-nav a{
  display: block;
}

.work-section .tabs-nav a:hover,
.woek-section .tabs-nav a.active {
  background-color: rgb(51,51,51);
  color: rgb(255,255,255);
}

/*new*/
.post_deck{
  font-size: 1.6em;
}

.post-deck-name{
  width: 100%;
  background-color: darkorchid;
  text-align: left;
  color: white;
  padding-left: 10px;
  font-size: 1.4em;
}

.post-deck-name-box{
  width: 100%;
}

.post-deck-theme{
  width: 100%;
  background-color: darkorchid;
  text-align: left;
  color: white;
  padding-left: 10px;
  font-size: 1.4em;
}

#deck_deck_theme_id{
  width: 100%;
}

.post-links-theme{
  width: 100%;
  background-color: darkorchid;
  text-align: left;
  color: white;
  padding-left: 10px;
  font-size: 1.4em;
}

#deck_link_theme_id{
  width: 100%;
}

.post-deck-image{
  width: 100%;
  background-color: darkorchid;
  text-align: left;
  color: white;
  padding-left: 10px;
  font-size: 1.4em;
}

.select-deck-image{
  width: 100%;
}

.upload-deck-url{
  width: 100%;
  background-color: darkorchid;
  text-align: left;
  color: white;
  padding-left: 10px;
  font-size: 1.4em;
}

.upload-deck-url-field{
  width: 100%;
}

.post-detail-of-deck{  
  width: 100%;
  background-color: darkorchid;
  text-align: left;
  color: white;
  padding-left: 10px;
  font-size: 1.4em;
}

.deck-detail-btn{
  text-align: left;
}

.setting-deck-status{
  width: 100%;
  background-color: darkorchid;
  text-align: left;
  color: white;
  padding-left: 10px;
  font-size: 1.4em;
}
























