// Place all the styles related to the extra controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.how-to-up{
  font-size: 2.0em;
  text-align: center;
}

.how-to-image{
  margin-bottom: 10px;
}

.how-to-up-title{
  background-color: blue;
  color: white;
  margin-top: 20px;
}