// Place all the styles related to the extra controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.how-to-up{
  font-size: 2.0em;
  text-align: center;
  color: white;
  background-color: black;
}

.how-to-image{
  margin-bottom: 10px;
}

.how-to-up-title{
  background-color: blue;
  color: white;
}

/*利用規約*/

.terms-of-service-whole{
  font-size: 1.6em;
  background-color: cyan;
}

.terms-of-service-row{
  padding: 20px;
}

.terms-of-service-text{
  margin-bottom: 20px;
}

.include-ol{
  margin-left: 60px;
  margin-top: 20px;
}