// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paginate-follow{
  margin-left: 80px;
  margin-top: 20px;
}

.user-name-size{
  font-size: 16px;
}