// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-up{
  margin: 0 auto;
}

.profile{
  width: 400px;
}

.mypage-decks{
  margin: 0 auto;
}

.deck_image{
  width: 100px;
}

.table2{
  width: 150px;
}

.table3{
  width: 50px;
}

.edit-mypage{
  font-size: 1.6em;
}