<h1>人気デッキ</h1>
<section class="work-section" id="work">
  <header class="section-header clearfix">
    <div class="inner">
      <h2>Pick up Deck</h2>
      <ul class="tabs-nav">
        <li><a><%= link_to "お気に入り", like_decks_path %></a></li>
        <li><a><%= link_to "人気デッキ", popular_deck_path %></a></li>
        <li><a><%= link_to "注目デッキ", trend_deck_path %></a></li>
      </ul>
    </div>
  </header>  
</section>